.ccfooter {
   background-image: url(https://www.ed.ac.uk/sites/all/themes/uoe/assets/logo.png);
   background-repeat: no-repeat;
   background-size: 130px 30px;
   font-size: .6em;
   overflow-wrap: break-word;
   height: 30px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   opacity: 0.6;
   margin-left: 10px;
   padding-left: 150px;
   margin-bottom: 10px;
   text-align: left;
   z-index; -1;
}
