.collapsible {
    background-color: #5679b0;
    color: white !important;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    font-size: 22px;
    text-align: center;
    display: block;
    outline: none;
    max-width: 100%;
  }

.active, .collapsible:hover {
  background-color: #1c3d70;
  color: white;
}

.content {
  padding: 0 18px;
  display: none;
  margin-top: 5px;
  overflow: hidden;
  background-color: white;
}

.shortcoursecol, .resourcecols{
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}
.shortcoursecol{
  width: 55%;
}
.resourcecols{
  width: 35%;
}


.scitem {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.scitem:hover{
  background-color: #f0f0f0;
  box-shadow: 0 5px 15px #f2849e;
}




@media screen and (max-width: 640px) {
		.shortcoursecol, .resourcecols{
		  width: 100%;
		}
}