.shortcoursecol, .resourcecols{
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}
.shortcoursecol{
  width: 55%;
}
.resourcecols{
  width: 35%;
}


.content {
  padding: 0 18px;
  display: none;
  margin-top: 5px;
  overflow: hidden;
}

.collapsible {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.active, .collapsible:hover{
  background-color: #f0f0f0;
  box-shadow: 0 5px 15px #f2849e;
}
.scitem {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.scitem:hover{
  background-color: #f0f0f0;
  box-shadow: 0 5px 15px #f2849e;
}




@media screen and (max-width: 640px) {
		.shortcoursecol, .resourcecols{
		  width: 100%;
		}
}
